<div id="username-page">
  <div class="username-page-container">
    <h1 class="title">ChatApp</h1>
    <img style="height: 150px" src="../assets/logo.png">
    <br>
    <br>
    <div *ngIf="errusr" class="alert alert-danger" role="alert">
      Accesso fallito!
    </div>
    <div *ngIf="errpsw" class="alert alert-warning" role="alert">
      Password errata!
    </div>
    <div *ngIf="errlogin" class="alert alert-warning" role="alert">
      Utente già loggato!
    </div>
    <form>
      <div class="form-group">
        <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" class="form-control"
          [(ngModel)]="username" />
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password" placeholder="Password" autocomplete="off"
          class="form-control" [(ngModel)]="password" />
      </div>
      <div class="form-group">
        <button type="submit" style="width: 40%;" (click)="login()" class="btn btn-primary">Login</button>
      </div>
    </form>
    <div class="form-group">
      <button type="submit" (click)="register()" class="btn btn-secondary btn-sm">Registra</button>
    </div>
  </div>
</div>