 
  .dot {
    height: 1px !important;
    width: 1px !important;
    background-color: darkgreen;
    border-radius: 50%;
    display: inline-block;

  }


  .text-time{
    color: #b9b9b9 !important;
    font-size: small;
    text-align: right;
 }

 .mat-list {
  width: 100%;
 }