<div *ngIf="this.selectedRooms.length > 0" class="chat-container">
    <div class="chat-header">
        <h2>Spring WebSocket Chat Demo</h2>
        <div>
            connected as <b>{{user.username}}</b> at room <b>{{selectedRoom}}</b>
        </div>
    </div>
    <ul #scroll class="messageArea">
        <li *ngFor="let messaggio of messaggi">
            <div [ngClass]="{'admin': (user.role =='ADMIN' && messaggio.type != ChatMessageType.JOIN) }"
                (click)="clickDelete(messaggio)">
                <div *ngIf="messaggio.type == ChatMessageType.CHAT" class="chat-message">
                    <i [ngStyle]="applyStyle(messaggio.senderUsername)" class="circle">
                        <span style="color: white">{{messaggio.senderUsername | slice:0:1 }}</span>
                    </i>
                    <div class="message-content">
                        <b>{{messaggio.senderUsername}}</b>
                        <p>{{messaggio.content}}</p>
                    </div>
                    <div class="message-content-time">
                        <p class="text-time">{{messaggio.sendTime | date: 'dd/MM/yyyy  HH:mm'}}</p>
                    </div>
                </div>
                <div *ngIf="messaggio.type == ChatMessageType.JOIN || messaggio.type == ChatMessageType.LEAVE"
                    class="event-message">
                    <p>{{messaggio.content}}</p>
                </div>
            </div>
        </li>
    </ul>
    <form id="messageForm" name="messageForm">
        <div class="form-group">
            <div class="input-group clearfix">
                <input type="text" name="text" id="message" placeholder="Type a message..." autocomplete="off"
                    class="form-control" [(ngModel)]="content" />
                <button type="submit" class="primary" (click)="sendMessage(content)">Send</button>
            </div>
        </div>
    </form>
</div>
<div class="chat-container">
    <div class="chat-header">
        <div class="room-container-title">
            <h2>Rooms</h2>
            <hr>
        </div>
        <div class="room-container">
            <mat-chip-list [(ngModel)]="selectedRooms">
                <mat-chip selectable="true" [selected]="isSelected('public')" (click)="changeRoom('public')">Public
                </mat-chip>
                <mat-chip selectable="true" [selected]="isSelected('sport')" (click)="changeRoom('sport')">Sport
                </mat-chip>
                <mat-chip selectable="true" [selected]="isSelected('lavoro')" (click)="changeRoom('lavoro')">Lavoro
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<app-chat-user></app-chat-user>