<div>
  <p class="header">WELCOME TO CHATAPP</p>
  <mat-grid-list [cols]="12" rowHeight="700px">
    <mat-grid-tile [colspan]="2">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Stanze Disponibili
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-chat-room #room></app-chat-room>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="7">
      <app-chat-page class="chat-page" [room]="room.room"></app-chat-page>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Utenti Connessi
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-chat-user></app-chat-user>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-grid-tile>
  </mat-grid-list>
</div>