.header {
    text-align: center;
    padding: 20px;
    background-color: #128FF2;
    font-family: myFirstFont;
    font-size: 3em;
    color: white;
}

.mat-figure{
    display: inline;
}

.chat-page {
    height: inherit !important;
    width: 100% !important;
  }

  .roomsTitle {
    background-color: #128FF2;
    font-family: myFirstFont;
    border: 1px solid #128ff2;
    border-radius: 20px;
    text-align: center;
    color: white;
  }

  .userListTitle {
    background-color: #128FF2;
    font-family: myFirstFont;
    border: 1px solid #128ff2;
    border-radius: 20px;
    text-align: center;
    color: white;
  }